@model IEnumerable<Polyclinic.Models.Diagnosis>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Справочник диагнозов</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<form method="get" asp-action="Index">
    <p>
        <input type="search" placeholder="Введите диагноз или код МКБ" value="@ViewData[" GetDiagnosisDetails"]" name="DiagnosisSearch" style="width:700px;" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a asp-action="Index">Получить список всех диагнозов</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                @if (this.User.IsInRole("Admin"))
                {
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
                }
                @if (this.User.IsInRole("Doctor"))
                {
                            <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
