@model IEnumerable<Polyclinic.Models.Doctor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список врачей</h1>

@if (this.User.IsInRole("Admin"))
             {
<p>
    <a asp-action="Create">Создать</a>
</p>
             }
<form method="get" asp-action="Index">
    <p>
        <h2>Поиск</h2>
    <p style="color:red;">@Html.ValidationMessage("error_msg")</p>
    <p>Фамилия врача</p>

    <input type="search" placeholder="Введите фамилию врача (Необязательно)" value="@ViewData["DoctorLastName"]" name="DoctorLastName" style="width:600px;" />
        <p>Специальность врача</p>
    <input type="search" placeholder="Введите специальность врача (Необязательно)" value="@ViewData["DoctorSpeciality"]" name="DoctorSpeciality" style="width:600px;" />
    <input type="submit" value="Search" class="btn btn-primary" />

    <p><a asp-action="Index">Получить список всех врачей</a></p>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            @if (this.User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.PolyclinicUser)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Speciality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Degree)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDateForDisplay)
            </td>
             @if (this.User.IsInRole("Admin"))
             {
                <td>
                    @Html.DisplayFor(modelItem => item.PolyclinicUser.Id)
                </td>
             }
            <td>
                @Html.DisplayFor(modelItem => item.Speciality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Degree)
            </td>
            @if (this.User.IsInRole("Admin"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
