@model IEnumerable<Polyclinic.Models.Patient>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form method="get" asp-action="Index">
    <p>
        <input type="search" placeholder="Введите фамилию или имя пациента" value="@ViewData["GetPatientsDetails"]" name="PatientsSearch" style="width:700px;" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a asp-action="Index">Получить список всех пациентов</a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <!--
            <th>
                @Html.DisplayNameFor(model => model.PolyclinicUser)
            </th>
            -->
            <th>
                @Html.DisplayNameFor(model => model.PolisID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoilsCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolisEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SnilsNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkPlace)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnBirthDateForDisplay)
            </td>
            <!--
            <td>
                @Html.DisplayFor(modelItem => item.PolyclinicUser.Id)
            </td>
             -->
            <td>
                @Html.DisplayFor(modelItem => item.PolisID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoilsCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnPolisEndDateForDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SnilsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkPlace)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
